h1 {
   font: 30px Sans-serif, Arial;
   font-weight: bold;
   color: black;
   text-align: center;
}

h3 {
   font: 15px Sans-serif, Arial;
   font-weight: bold;
   color: black;
   text-align: center;
}

.eventButton {
   background-color: DodgerBlue;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid white;
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
   width: 100%;
}

.eventButton:hover {
   background-color: RoyalBlue;
}

.newButton {
   background-color: LimeGreen;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid white;
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
   width: 100%;
}

.newButton:hover {
   background-color: ForestGreen;
}

.textInput {
   width: 90%;
   padding: 12px 12px;
   margin-bottom: 30px;
   font-size: 16px;
   align-self: center;
}